button {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    min-width: 70px;
    background: @btnLinear;
}