@import './reset.less';

html {
    font-size: 16px !important;
    @media screen and (max-width: 1600px) {
        font-size: 14px !important;
    }
    @media screen and (max-width: 1400px) {
        font-size: 10px !important;
    }
}