.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-x {
    display: flex;
    justify-content: center;
}

.flex-center-y {
    display: flex;
    align-items: center;
}

.none {
    display: none;
}
// 从animate.less复制而来
.animate_property {
	animation-duration: var(--animate-duration, 1.5s);
	animation-timing-function: var(--animate-timing-function, ease);
	animation-delay: var(--animate-delay, 0s);
	animation-iteration-count: var(--animate-count, 1);
	animation-direction: var(--animate-direction, normal);
	animation-fill-mode: var(--animate-mode, forwards);
}