/*颜色*/
@topicColor: #5f65ee;
@text-color: #333;

@color-grey: rgb(159, 168, 181);
@color-grey-20: rgba(159, 168, 181, 0.2);
@color-grey-50: rgba(159, 168, 181, 0.5);

@color-white: rgb(255, 255, 255);
@color-white-20: rgba(255, 255, 255, 0.2);
@color-white-50: rgba(255, 255, 255, 0.5);

// 按钮渐变
@btnLinear: linear-gradient(135deg, #6167f0, #7992fd);

/* 长宽间距 */
@minMainWidth: 800px;
@mainWidth: 80rem;
// 头部导航高度
@headerHeight: 4.375rem;
// 菜单宽度
@menuWidth: 200px;
// 间距定义
@padding-s: 10px;
@padding-m: 15px;
@padding-l: 20px;

@border-grey: 1px solid rgba(159, 168, 181, 0.2);

/*字体*/
@font-l: 16px;
@font-m: 14px;
@font-s: 12px;

@shadow: 0 4px 8px 0 rgba(36, 42, 54, 0.2);

@import './mixin.less';

// 黑色
@scrollbar-width: 5px;
@color-bg: #10161f;
@color-primary: #3578ff;
@color-part: #1a2433;
@color-part-pop: #1a2433; // 模块中popup背景色
@color-text: #fff;
@color-text-2: #8d9eb9;
@color-blue: rgba(0, 136, 255, 0.38);
@color-pink: rgba(255, 136, 136, 0.25);
@shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
