/*颜色*/
@color-primary: #6c5dd3;
@color-text: #fff;
@color-text-secondary: #8b949e;
@color-menu: #66676a;
@color-menu-active: #fff;

@color-bg: #1f2128;
@color-bg-secondary: #282c34;
@color-border: rgba(228, 228, 228, 0.2);

@shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

// 黑色 -- new
@scrollbar-width: 5px;
@header-height: 85px;
@side-menu-width: 220px;

@color-grey: rgb(159, 168, 181);
@color-grey-20: rgba(159, 168, 181, 0.2);
@color-grey-50: rgba(159, 168, 181, 0.5);

@color-white: rgb(255, 255, 255);
@color-white-20: rgba(255, 255, 255, 0.2);
@color-white-50: rgba(255, 255, 255, 0.5);

// 间距定义
@padding-s: 10px;
@padding-m: 15px;
@padding-l: 20px;

/*字体*/
@font-l: 16px;
@font-m: 14px;
@font-s: 12px;

@import './mixin.less';
